{
	"parser": "babel-eslint",
	"env": {
		"browser": true,
		"node": true
	},
	"plugins": [
		"react"
	],
	"rules": {
		"brace-style": [2, "1tbs"],
		"comma-style": 2,
		"curly": [2, "multi-line"],
		"indent": [2, "tab"],
		"no-unused-expressions": 0,
		"no-underscore-dangle": 0,
		"quotes": [2, "single", "avoid-escape"],
    	"react/jsx-no-undef": 2,
    	"react/jsx-quotes": 2,
		"react/jsx-uses-react": 2,
		"react/jsx-uses-vars": 2,
		"react/prop-types": 2,
		"react/wrap-multilines": 2,
		"semi": 2,
		"space-before-blocks": 2,
		"space-after-keywords": 2,
		"space-in-parens": 2,
		"strict": 0
	}
}
