// 
// Forms
// ==============================




// Group
// ------------------------------

.form-group {
	margin-bottom: @spacing-md;
}




// Inputs
// ------------------------------

.form-input {
	.transition( ~"border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s" );
	background-color: @input-bg-color;
	background-image: none;
	border-radius: .33em;
	border: 1px solid @input-border-color;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	color: @text-color;
	display: block;
	font-size: @font-size-base;
	line-height: @component-height;
	padding-left: @component-padding;
	padding-right: @component-padding;
	width: 100%;
	-webkit-appearance: none;


	// states

	&:hover {
		border-color: @input-border-color-hover;
		outline: 0;
	}
	&:focus {
		border-color: @input-border-color-focus;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px fade(@input-border-color-focus, 33%);
		outline: 0;
	}
	&.disabled,
	&[disabled] {
		background-color: @input-bg-disabled;
	}
}





// Labels
// ------------------------------

.form-label {
	.transition( color @form-animation-duration );
	color: @form-label-color;
	display: inline-block;
	font-size: @font-size-sm;
	font-weight: @font-weight-bold;
	margin-bottom: @spacing-sm;
}





// Horizontal Form
// ------------------------------

@media (min-width: @container-width) {
	.horizontal-form {
		.form-group {
			display: table;
			table-layout: fixed;
			min-width: 100%;
		}
		.form-label {
			display: table-cell;
			line-height: @component-height;
			margin-bottom: 0;
			vertical-align: middle;
			width: 120px;
		}
	}
}



// Validation
// ------------------------------


// message

.form-validation {
	.animation( formValidationMessage @form-animation-duration ease );
	color: @app-danger;
	font-size: @font-size-xs;
	margin-top: .5em;
	overflow: hidden;
}

@-webkit-keyframes formValidationMessage {
	from { max-height: 0; opacity: 0; }
	to   { max-height: @font-size-base; opacity: 1; }
}
@keyframes formValidationMessage {
	from { max-height: 0; opacity: 0; }
	to   { max-height: @font-size-base; opacity: 1; }
}


// effects on other elements

.form-group.is-invalid {
	.form-label {
		color: @app-danger;
	}
	.form-input {
		border-color: @app-danger;

		&:focus {
			border-color: @app-danger;
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px fade(@app-danger, 33%);
		}
	}
}





// Types
// ------------------------------

.checkbox {
	margin-bottom: 1em;
}
